/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.button:focus {
  outline: none;
}

.button_type_save:focus-visible,
.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color-basic, rgba(0, 0, 0, 1));
}

.card__icon-button:focus-visible {
  border-color: var(--color-basic, rgba(0, 0, 0, 1));
}

.button_animation::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-basic, rgba(0, 0, 0, 1));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button_animation:hover:after {
  transform: scaleX(1);
}

.heart {
  fill: transparent;
  transform-origin: center;
}

.heart .contour {
  fill: var(--color-basic, rgba(0, 0, 0, 1));
}

.heart:hover .core {
  transition: fill 0.3s linear;
  fill: var(--color-basic, rgba(0, 0, 0, 1));
}

.heart:hover .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--color-basic, rgba(0, 0, 0, 1));
}

.heart:not(:hover) .core {
  transition: fill 0.3s linear 0.03s;
  fill: transparent;
}

.heart:not(:hover) .main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.heart:active .core {
  transition: fill 0.3s linear;
  fill: var(--color-heart);
}

.heart:active .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--color-heart);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--color-heart);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
  fill: var(--color-heart);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s;
  fill: var(--color-heart);
}

@keyframes scale-heart {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes heart-animated-sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.like-icon.is-liked {
  animation: scale-heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: heart-animated-sparks 0.3s ease-in 0.3s alternate;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
  fill: var(--color-basic, rgba(0, 0, 0, 1));
}
